.about-me {
    padding: 80px 0;
}
.image-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    animation: slideInLeft .75s ease both;
}
.media-about-1 {
    width: 50%;
}
.about-me > .container > .media-about-1 >  .image-container > img {
    width: 75%;
    border-radius: 50%;
    margin-top: 50px;
}
.media-about-2 {
    width: 50%;
}
.about-me > .container > .media-about-2 {
    animation: slideInRight .75s ease both;
    margin-bottom: 24px;
}


.about-me > .container > .media-about-2 >  h1 {
    text-transform: uppercase;
    margin-bottom: 10px;
    padding: 5px;
    color: var(--color-grey-dark);
}

.about-me > .container > .media-about-2 >  p {
    font-size: 18px;
    padding: 5px;
    line-height: 30px;
    margin-bottom: 15px;
}