.hero {
    width: 100%;
    height: 100vh;
    position: relative;

}
.hero > .image {
    width: 100%;
    height: 100vh;
    background-color: var(--color-black);
    background-image: url("../images/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

.hero-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-secondary-light);
    text-shadow: 0.5px 0.5px var(--color-black);
}
.hero-content > h1 {
    font-size: 56px;
    letter-spacing: 7px;
    margin-bottom: 7px;
    animation: fromTop 1s linear;
    animation-fill-mode: both;
    font-family: 'Arima Madurai', cursive, sans-serif;
}
@keyframes fromTop {
    0% {
        transform: translate3d(0, -70px, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
.hero-content > p {
    font-size: 40px;
    letter-spacing: 2px;
    margin-bottom: 7px;
    text-shadow: 0.5px 0.5px var(--color-grey);
    animation: fromBottom 1s linear;
    animation-fill-mode: both;
    font-family: 'Arima Madurai', cursive, sans-serif;
}

@keyframes fromBottom {
    0% {
        transform: translate3d(0, 70px, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.btn-animated {
    animation: btnAppear 0.5s linear;
    animation-delay: 1s;
    animation-fill-mode: both;
}
@keyframes btnAppear {
    0% {

        opacity: 0;
    }
    100% {

        opacity: 1;
    }
}