#hist-menu {
    background-color: var(--color-secondary-light);
}
.histories {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.line-history {
    display: inline-block;
    width: 3%;
    float: left;
    margin: 0;
    padding: 0;

}
.the-line {
    display: inline-block;
    width: 3px;
    height: 100%;
    margin: 0 auto;
    background-color: var(--color-blue); 
}
/* .line-history > .the-line > span {
    display: block;
    width: 14px;
    height: 14px;
    margin: 15px 0 25px 0;
    border-radius: 50%;
    background-color: blue; 
} */

.history-content {
    display: inline-block;
    width: 95%;
    float: right;
    color: var(--color-grey-dark);
    animation: popIn 1s both;
}


.history-elements {
    margin: 8px 0 5px 0;
    padding: 10px;
    display: inline-block;
    float: left;
    width: 80%;
}
    .history-elements  > h3 {
        text-align: center;
    }
    .history-elements  > h4 {
        text-align: center;
    }
    .history-elements > ul {
        list-style-type: none;
    }
        .history-elements > ul > li {
            line-height: 25px;
            margin-left: 17px;
        }
.year {
    display: inline-block;
    float: left;
    width: 15%
}