:root {
    --color-primary: #E45447;
    --color-primary-shaded: #E31B6D;
    --color-primary-shaded-hover: #fb1f79;
    --color-secondary: #90ACD1;
    --color-secondary-light: #F9F9FF;
    --color-grey: #DFE6F4;
    --color-grey-dark: #777;
    --color-black: #222;
    --color-black-shaded: #1E242C;
    --color-blue: #64C7CC;
    --color-green: #04C2C9;
}
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:300,400,500,700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext" rel="stylesheet');
body {
    background-color: #483D8B;
}

body, 
body * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: top;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1000px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5px 0;
}

.bcm-black {
    background: var(--color-black) !important;
    color: var(--color-black)  !important;
}
.bcm-red {
    background: var(--color-primary-shaded) !important;
    color: var(--color-primary-shaded)  !important;
}
.bcm-white {
    background: var(--color-secondary-light) !important;
}
.section-margin {
    margin: 0;
}
.section-margin-nbtm {
    margin: 0;
}
.grey-background {
    background-color: var(--secondary-light);
}
.dark-grey {
    background-color: var(--color-grey);
}
.section-bigger {
    padding: 40px 0;
    max-width: 100%;
}
.highlight {
    font-weight: 700;
    font-family: 'Arima Madurai', cursive, sans-serif;
    color: var(--color-primary-shaded);
    text-shadow: 0.5px 0.5px var(--color-primary-shaded);
}
.highlight-2 {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: var(--color-primary-shaded);
    text-shadow: 0.5px 0.5px var(--color-primary-shaded);
}
@-webkit-keyframes slideInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-300px);
              transform: translateX(-300px); }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0); } }
@keyframes slideInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-300px);
              transform: translateX(-300px); }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0); } }
@-webkit-keyframes slideInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(300px);
                transform: translateX(300px); }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0); } }
@keyframes slideInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(300px);
                transform: translateX(300px); }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0); } }
@-webkit-keyframes popIn {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0); }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.05);
                transform: scale(1.05); }
    80% {
        -webkit-transform: scale(0.95);
                transform: scale(0.95); }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1; } }
@keyframes popIn {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0); }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.05);
                transform: scale(1.05); }
    80% {
        -webkit-transform: scale(0.95);
                transform: scale(0.95); }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1; } }