:root {
    --color-primary: #E45447;
    --color-primary-shaded: #E31B6D;
    --color-primary-shaded-hover: #fb1f79;
    --color-secondary: #90ACD1;
    --color-secondary-light: #F9F9FF;
    --color-grey: #DFE6F4;
    --color-grey-dark: #777;
    --color-black: #222;
    --color-black-shaded: #1E242C;
    --color-blue: #64C7CC;
}
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:300,400,500,700&display=swap&subset=latin-ext');
body, 
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
    position: relative;
    font-family: 'Arima Madurai', cursive, sans-serif;
}


.container {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.just-colum {
    width: 100%;
    text-align: center;
}
.container > .colum-1 {
    width: 50%;
}
.container > .colum-2 {
    width: 50%;
}

.container > .colum-1 > img {
    width: 60%;
    border-radius: 50%;
}

.bcm-black {
    background: var(--color-black) !important;
    color: var(--color-black)  !important;
}

.section-margin {
    margin-top: 85px;
    margin-bottom: 15px;
}
.section-margin-nbtm {
    margin-top: 85px;
    margin-bottom: 0;
}
.grey-background {
    background-color: var(--secondary-light);
}
.section-bigger {
    padding: 40px 10px;
}