.navigation {
    display: none;
}

.nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    background: transparent;
    z-index: 10;
}

.nav-container > .nav-elements {
    border-radius: 10px;
}

.nav-container > .nav-elements > a {
    margin: 5px;
    padding: 5px;
    text-decoration: none;
}

.burger-cont {
    display: inline-block;
    position: absolute;
    width: 150px;
    top: 25px;
    right: 70px;
    z-index: 15;
}

.menu {
    display: inline-block;
    float: right;  
    height: 30px;
    width: 30px;
    margin-top: 10px;
    position: relative;
}
    .menu:hover {
        cursor: pointer;
    }
    .menu > span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: var(--color-secondary-light);
        border-radius: 5px;
        margin: 1px 0;
        -webkit-transition: ease-in-out .25s;
        transition: ease-in-out .25s;
    }
    .menu > span:nth-child(1) {
       top: 0px;
    }
.menu > span:nth-child(2) {
        top: 12.5px;
    }
     .menu > span:nth-child(3) {
        top: 25px;
    }

    .open > span:nth-child(1) {
        -webkit-transform: rotate(135deg);
                transform: rotate(135deg);
        top: 12px;
    }
     .open > span:nth-child(2) {
        -webkit-transform: translateX(-100px);
                transform: translateX(-100px);
        opacity: 0;
    }
    .open > span:nth-child(3) {
        -webkit-transform: rotate(-135deg);
                transform: rotate(-135deg);
        top: 12px;
    }

header {
    display: none;

}

    .sticky {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 50px;
        width: 100%;
        background: #1B242F;
        border-bottom: 3px solid #04C2C9;
        text-align: left;
        -webkit-box-shadow: 0 0 4px var(--color-grey);
                box-shadow: 0 0 4px var(--color-grey);
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        z-index: 101;
    }
    .scrolled-menu-item {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 5px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .scrolled-menu-item > a {
        text-decoration: none;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 2px;
        padding: 3px 2px;
        margin: 2px;
        color: var(--color-secondary-light);
        margin-top: 5px;
    }
    .scrolled-menu-item > a:hover {
        color: var(--color-primary-shaded);
    }



    
.sliding-menu {
    display: none;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin-top: -70px;
    padding-top: 70px;
}
    .sliding-menu > .sliding-part {
        display: inline-block;
        float: left;
        width: 50%;
        height: calc(100% + 70px);
        margin-top: -70px;
        padding-top: 70px;
        background: #FFFC;
    }
        .sliding-menu > .sliding-part.part-left {
            padding-left: calc( (100% - 1000px) / 2 );
            padding-right: 40px;
            padding-bottom: 40px;
            margin-left: -50%;
            text-align: left;
            /* transition: margin-left 2s; */
        }
        .sliding-menu > .sliding-part.part-right {
            float: right;
            padding-right: calc( (100% - 1000px) / 2 );
            padding-left: 40px;
            padding-bottom: 40px;
            margin-right: -50%;
            text-align: right;
            /* transition: margin-right 2s; */
        }
            .sliding-menu > .sliding-part > a {
                display: inline-block;
                width: 100%;
                padding: 10px 0;
                line-height: 20px;
                font-size: 16px;
                text-decoration: none;
                color: #585A5C;
                text-transform: uppercase;
            }
                .sliding-menu > .sliding-part > a:hover,
                .sliding-menu > .sliding-part > a.active {
                    color: var(--color-primary);
                }
.sliding-menu-visible .sliding-menu {
    display: inline-block;
}